@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
}

body {
  background: url(../Images/madera.jpg);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 6.25rem;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* NAVIGATION MENU */
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header .logo:hover {
  letter-spacing: 0.188rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .logo span {
  color: #e0c920;
}

header .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 1.875rem;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header .navigation li a:hover {
  color: #e0c920;
  border-bottom: 2px solid #ac990b;
}

header.sticky {
  background: #fff;
  padding: 0.625rem 6.25rem;
  -webkit-box-shadow: 0 0.313rem 1.25rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.313rem 1.25rem rgba(0, 0, 0, 0.05);
}

header.sticky .navigation li a {
  color: #111;
}

header.sticky .navigation li a:hover {
  color: #91830d;
}

header.sticky .logo {
  color: #111 !important;
}

header.sticky .logo span {
  color: #91830d;
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Images/parrillada-fondo.png);
  background-size: center/cover;
  background-repeat: no-repeat;
}

.banner .content {
  max-width: 56.25rem;
  text-align: center;
}

.banner .content h1 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  font-size: 1.3em;
  font-weight: 550;
  text-shadow: 1px 1px #111;
  color: #fff;
}

.banner .content p span {
  color: #e0c920;
}

/* BANNER BUTTON */
.btn {
  font-size: 1em;
  color: #111;
  background-color: #fad961;
  background-image: -webkit-gradient(linear, left top, right top, from(#fad961), to(#f76b1c));
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  display: inline-block;
  padding: 0.625rem 1.875rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0.625rem;
}

.btn:hover {
  letter-spacing: 0.375rem;
}

/* SECTIONS */
section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.row .aboutUs p {
  color: #fff;
}

.titleText {
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  font-weight: bold;
}

.titleText span {
  color: #e0c920;
  font-weight: 200;
  font-size: 1.5em;
}

/* CARDS ABOUT US */
.container__card {
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarjeta {
  width: 300px;
  position: relative;
  margin: 20px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border-radius: 20px;
}

.tarjeta:hover {
  -webkit-box-shadow: 1px 1px 20px -10px #20202049;
          box-shadow: 1px 1px 20px -10px #20202049;
  -webkit-transition: 1s;
  transition: 1s;
}

.tarjeta:hover .info__description {
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.tarjeta:hover .icono {
  margin-top: -110px;
  border-radius: 20px 20px 0px 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.icono {
  width: 100%;
  height: 220px;
  background: #eff3f5;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

.icono i {
  font-size: 150px;
  color: #fff;
  -webkit-transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.info__description {
  width: 100%;
  height: 220px;
  color: #474747;
  background: #eff3f5;
  padding: 20px;
  margin-top: -220px;
  -webkit-transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
  border-radius: 20px;
}

.info__description p {
  font-size: 14px;
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-align: center;
}

.info__description input {
  margin-top: 20px;
  padding: 10px 40px;
  background: #2196f3;
  color: white;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 30px -5px #20202049;
          box-shadow: 1px 1px 30px -5px #20202049;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.info__description input:hover {
  -webkit-box-shadow: 1px 1px 30px -5px #20202070;
          box-shadow: 1px 1px 30px -5px #20202070;
  -webkit-transition: 1s;
  transition: 1s;
}

.c1:hover .icono {
  background: #dd4b25;
  -webkit-transition: 1s;
  transition: 1s;
}

.c1 .icono i {
  color: #dd4b25;
}

.c1:hover .icono i {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.c2:hover .icono {
  background: #146eb0;
  -webkit-transition: 1s;
  transition: 1s;
}

.c2 .icono i {
  color: #146eb0;
}

.c2:hover .icono i {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

.c3:hover .icono {
  background: #e8b600;
  -webkit-transition: 1s;
  transition: 1s;
}

.c3 .icono i {
  color: #e8b600;
}

.c3:hover .icono i {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

/* CARDS OUR SPECIALITIES */
.container-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 100px;
}

.title {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 200;
}

.title span {
  color: #e0c920;
  font-weight: 200;
  font-size: 1.5em;
}

.card-1:hover, .card-2:hover, .card-3:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  opacity: 0.8;
}

.card-1, .card-2, .card-3 {
  background-color: #595959;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

.card-1 img, .card-2 img, .card-3 img {
  width: 100%;
  height: 210px;
}

.card-1 .contenido-card, .card-2 .contenido-card, .card-3 .contenido-card {
  padding: 15px;
  text-align: center;
}

.card-1 .contenido-card h3, .card-2 .contenido-card h3, .card-3 .contenido-card h3 {
  margin-bottom: 15px;
  color: #fff;
}

.card-1 .contenido-card p, .card-2 .contenido-card p, .card-3 .contenido-card p {
  line-height: 1.8;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-2 {
  background-color: #323232;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

.card-2 img {
  width: 100%;
  height: 210px;
}

.card-2 .contenido-card {
  padding: 15px;
  text-align: center;
}

.card-2 .contenido-card h3 {
  margin-bottom: 15px;
  color: #fff;
}

.card-2 .contenido-card p {
  line-height: 1.8;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-3 {
  background-color: #111;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: default;
}

.card-3 img {
  width: 100%;
  height: 210px;
}

.card-3 .contenido-card {
  padding: 15px;
  text-align: center;
}

.card-3 .contenido-card h3 {
  margin-bottom: 15px;
  color: #fff;
}

.card-3 .contenido-card p {
  line-height: 1.8;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}

/* FOOTER */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 2.5rem;
  color: #fff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content h3 span {
  color: #e0c920;
}

.footer-content p {
  max-width: 31.25rem;
  margin: 0.625rem auto;
  line-height: 1.75rem;
  font-size: 0.875rem;
}

/* SOCIAL ICONS */
.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 0.625rem;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.transform, .fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover, .fa-arrow-circle-up:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: transparent;
}

.fa-facebook:hover {
  background: #3b5998;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.fa-instagram:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#4f5bd5), color-stop(#962fbf), color-stop(#feda75), color-stop(#d62976), color-stop(#fa7e1e), to(#feda75));
  background: linear-gradient(#4f5bd5, #962fbf, #feda75, #d62976, #fa7e1e, #feda75);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.fa-whatsapp:hover {
  background: #25d366;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.fa-arrow-circle-up:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fad961), to(#f76b1c));
  background: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
}

/* CONTACT FORM */
.contact__content {
  color: #fff;
  padding-top: 10rem;
}

.contact__logo {
  text-align: center;
  padding-top: 0.625rem;
}

.contact-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
}

.contact-form {
  background: #111;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

/* CONTACT FORM BUTTON, INPUT AND TEXTAREA */
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
}

.contact-form form button:hover,
.contact-form form input:hover,
.contact-form form textarea:hover {
  border-bottom: 1px solid #e0c920;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

/* CONTACT FORM BUTTON / HOVER AND FOCUS */
.contact-form form button {
  background: #111;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover, .contact-form form button:focus {
  background: #ac990b;
  color: #111;
  -webkit-transition: background-color 1.5s ease-out;
  transition: background-color 1.5s ease-out;
  outline: 0;
}

.contact-info {
  background: #111;
}

.contact-info ul {
  list-style: none;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.block button {
  font-weight: bold;
}

/* GALLERY SECTION BANNER */
.galleryBanner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Images/galeria.jpg);
  background-size: center/cover;
  background-repeat: no-repeat;
}

.galleryBanner .content {
  max-width: 56.25rem;
  text-align: center;
}

.galleryBanner .content h2 {
  font-size: 5em;
  color: #fff;
}

.galleryBanner .content p {
  font-size: 1em;
  color: #fff;
}

/* MENU */
.menu {
  padding-top: 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1.25rem 2.5rem;
}

.food-items {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  border-radius: 0.938rem;
  -webkit-box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.1);
  margin: 0 1.25rem;
}

.food-items img {
  position: relative;
  width: 100%;
  border-radius: 0.938rem 0.938rem 0 0;
}

.heading {
  color: #fff;
  margin-bottom: 1.875rem;
  padding: 0.625rem 0 1.875rem 0;
  grid-column: 1/-1;
  text-align: center;
}

.heading h1 {
  font-weight: 400;
  font-size: 1.875em;
  letter-spacing: 0.625rem;
  margin-bottom: 0.625rem;
}

.heading h3 {
  font-weight: 600;
  font-size: 1.375em;
  letter-spacing: 0.3125em;
}

.details {
  padding: 1.25rem 0.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 3.125rem;
      grid-template-rows: auto 1fr 3.125rem;
  grid-row-gap: 0.938rem;
}

.details p {
  color: #fff;
  font-size: 0.938em;
  line-height: 1.75rem;
  font-weight: 400;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.details-sub {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.details-sub h5 {
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
}

.details-sub h6 {
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
}

.price {
  text-align: right;
}

/* MEDIA QUERIES */
@media (max-width: 991px) {
  header .navigation {
    display: none;
  }
  header .navigation li {
    list-style: none;
    margin-left: 0;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }
  header .navigation.active {
    width: 100%;
    height: calc(100% - 4rem);
    position: fixed;
    top: 4.2rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
  }
  header.sticky {
    padding: 0.625rem 1.25rem;
  }
  header.sticky .menuToggle {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .menuToggle {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../Images/hamburgesa.svg);
    background-size: 1.875rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .menuToggle.active {
    background: url(../Images/cerrar.svg);
    background-size: 1.563rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  section {
    padding: 1.25rem;
  }
  .banner .content h1 {
    font-size: 5em;
    color: #fff;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col .imgbx {
    height: 18.75rem;
    margin-top: 1.25rem;
  }
  .menu .content {
    margin-top: 1.25rem;
  }
  .menu .content .box {
    margin: 0.625rem;
  }
  .menu .content .box .imgbx {
    height: 16.25rem;
  }
  .tittle {
    text-align: center;
  }
  .tittletext {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 0.938rem;
    font-weight: 300;
  }
}

@media (max-width: 480px) {
  .banner .content h1 {
    font-size: 2.2em;
    color: #fff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 50%;
  }
  .card, .card-1, .card-2, .card-3 {
    margin: 0.938rem;
  }
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 0.625rem 1.25rem;
  }
}

@media (min-width: 700px) {
  .contact-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

@media (max-width: 280px) {
  header,
  header.sticky {
    padding: 0.625rem 1.25rem;
    height: 4.5rem;
  }
  header .logo,
  header.sticky .logo {
    font-size: 1.5em;
  }
  header .logo,
  header.sticky .logo {
    font-size: 1.4em;
  }
  .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 1.5rem;
  }
  .title {
    font-size: 1.3em;
  }
  .galleryBanner .content h2 {
    font-size: 4em;
  }
}

@media (max-width: 540px) {
  .container-card {
    max-width: 70%;
  }
}
