/* CONTACT FORM */

.contact__content {
  color: $white;
  padding-top: 10rem;
}
.contact__logo {
  text-align: center;
  padding-top: 0.625rem;
}

.contact-wrapper {
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
}
.contact-form {
  background: $black;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  label {
    display: block;
  }
  p {
    margin: 0;
    padding: 1em;
  }
  .block {
    grid-column: 1 / 3;
  }
}

/* CONTACT FORM BUTTON, INPUT AND TEXTAREA */

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: $white;
  &:hover {
    border-bottom: 1px solid $span;
    transition: 1.5s;
  }
}

/* CONTACT FORM BUTTON / HOVER AND FOCUS */

.contact-form form button {
  background: $black;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  &:hover,
  &:focus {
    background: $ahover;
    color: $black;
    transition: background-color 1.5s ease-out;
    outline: 0;
  }
}

.contact-info {
  background: $black;
  ul {
    list-style: none;
  }
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.block {
  button {
    font-weight: bold;
  }
}
