/* MEDIA QUERIES */

@media (max-width: 991px) {
  header {
    .navigation {
      display: none;
      li {
        list-style: none;
        margin-left: 0;
        a {
          color: $black;
          font-size: 1.6em;
        }
      }
    }
    .navigation.active {
      width: 100%;
      height: calc(100% - 4rem);
      position: fixed;
      top: 4.2rem;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: $white;
    }
    &.sticky {
      padding: 0.625rem 1.25rem;
      .menuToggle {
        filter: invert(1);
      }
    }
  }
  .menuToggle {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../Images/hamburgesa.svg);
    background-size: 1.875rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &.active {
      background: url(../Images/cerrar.svg);
      background-size: 1.563rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  section {
    padding: 1.25rem;
  }
  .banner {
    .content {
      h1 {
        font-size: 5em;
        color: $white;
      }
    }
  }
  .row {
    flex-direction: column;
    .col50 {
      position: relative;
      width: 100%;
    }
    .col {
      .imgbx {
        height: 18.75rem;
        margin-top: 1.25rem;
      }
    }
  }
  .menu {
    .content {
      margin-top: 1.25rem;
      .box {
        margin: 0.625rem;
        .imgbx {
          height: 16.25rem;
        }
      }
    }
  }
  .tittle {
    text-align: center;
  }
  .tittletext {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 0.938rem;
    font-weight: 300;
  }
}

@media (max-width: 480px) {
  .banner {
    .content {
      h1 {
        font-size: 2.2em;
        color: $white;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
    max-width: 50%;
  }
  .card {
    margin: 0.938rem;
  }
  .card-1 {
    @extend .card;
  }
  .card-2 {
    @extend .card;
  }
  .card-3 {
    @extend .card;
  }
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 0.625rem 1.25rem;
  }
}
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

@media (max-width: 280px) {
  header,
  header.sticky {
    padding: 0.625rem 1.25rem;
    height: 4.5rem;
    .logo {
      font-size: 1.5em;
    }
  }
  header .logo,
  header.sticky .logo {
    font-size: 1.4em;
  }
  .container-card {
    flex-direction: column;
    padding-right: 1.5rem;
  }
  .title {
    font-size: 1.3em;
  }
  .galleryBanner .content h2 {
    font-size: 4em;
  }
}

@media (max-width: 540px) {
  .container-card {
    max-width: 70%;
  }
}
